.input,
.placeholder,
.selected {
  cursor: text;
  background: var(--white);
  outline: none;
  border-radius: 0;
  font-size: 14px;
  padding: 15px 0;
  border: 0px;
  width: 100%;
  outline: 0;
  cursor: pointer;
  font-family: inherit;
}

.nativeSelect {
  width: 100%;
  position: absolute;
  height: 100%;
  opacity: 0;
}

.placeholder {
  color: var(--input-placeholder);
}

.selected {
  color: var(--font-color-dark);
}

@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.required {
  color: var(--priamry-color);
  padding-left: 5px;
}

.wrapper input ~ * {
  margin-left: 10px;
}

.loading {
  position: relative;
  width: 25px;
  height: 25px;
}

.label {
  font-weight: 700;
  font-size: var(--input-label-font-size);
}

.option {
  padding: 15px;
  justify-content: flex-start;
  border-bottom: 1px solid var(--border-color);
}

.loading::before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: 0 0;
  border: 2px solid var(--border-color);
  border-radius: 50%;
  -webkit-clip-path: inset(0 0 50% 0);
  clip-path: inset(0 0 50% 0);
  transform: translate(-50%, -50%) rotate(0);
  -webkit-animation: spin 0.6s linear infinite;
  animation: spin 0.6s linear infinite;
}

.error .wrapper {
  border-bottom-color: var(--priamry-color);
}
.error input {
  color: var(--priamry-color);
}

.errorLabel {
  color: var(--priamry-color);
  font-size: 12px;
  padding-top: 5px;
}
