.modal {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  display: flex;
  flex-direction: column;
}

.default {
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
}

.default .content {
  flex-grow: unset;
  max-width: 480px;
  min-width: 150px;
  position: relative;
}

.default .close {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.fullscreen {
  background-color: var(--solid-grey);
  margin: 0 auto;
  max-width: 480px;
}
.header {
  display: flex;
  align-items: center;
  height: 50px;
  flex-direction: row;
  padding-left: 10px;
}

.label {
  font-weight: 700;
  padding-left: 15px;
}

.content {
  flex-grow: 1;
}
